<form [formGroup]="form">
  <label for="">Valor fuera del Array </label>
  <input type="text" formControlName="name" />

  <div class="list">
    <button (click)="addListValue()">+</button>
    <div class="listBody" formArrayName="listValues">
      <div class="element" *ngFor="let _ of listValues.controls; index as i">
        <label for="">Elemento #{{ i + 1 }}</label>
        <input type="text" [formControlName]="i" />
        <button (click)="remoteListValue(i)">-</button>
      </div>
    </div>
  </div>
</form>

{{ form.value | json }}
