<form [formGroup]="form">
  <label for="">Valor fuera del Array </label>
  <input type="text" formControlName="name" />

  <div class="list">
    <button (click)="addListValueArray()">+</button>
    <div class="listBody" formArrayName="listValues">
      <div
        class="element"
        *ngFor="let _ of listValuesArray.controls; index as i"
      >
        <label for="">Elemento #{{ i + 1 }}</label>
        <input type="text" [formControlName]="i" />
        <button (click)="remoteListValueArray(i)">-</button>
      </div>
    </div>
  </div>
</form>

{{ form.value | json }}
